html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #737163 0%,
    hsl(52, 7%, 62%) 51%,
    #fffbdd 85%
  );

  // background: #737163;
  transition: all 500ms;
  will-change: background;
}

.wrap {
  max-width: 1600px;
  margin: 0 auto;
}
